.dropdown-item{
  padding-left: 25px;
  padding-right: 30px;

}
.dropdown-item:hover{
  background-color: #122C91;
  /* margin-left: 0px;
  transition: ease-in; */

}
hr {
  color: #F8F9FA;
}

.link-samping {
  text-decoration: none;
  color: grey;
}
.link-samping:hover {
  color: black;
}

a:visited {
  text-decoration: none;
}

article {
  text-align: justify;
}
.paragraf {
    text-indent: 2rem;
}

.sidebarid {
  padding-top: 5rem;
}